<nav class="tops_navbar">
    <button class="button_show" id="button_hidden">
        <img src="assets/icons/list.svg" alt="list" />
    </button>
    <ul id="top_navbar">
        <li class="link_buttons home_li">
            <a class="home_link buttons_link" href="home">home</a>
        </li>
        <li class="link_buttons profile_li">
            <a class="profile_link buttons_link" href="profile">profile</a>
        </li>
        <li class="link_buttons store_li">
            <a class="store_link buttons_link" href="store">store</a>
        </li>
        <li class="link_buttons login_li">
            <a class="login_link buttons_link" href="start">Get started</a>
        </li>
    </ul>
</nav>
