<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>home</title>
 
        <link rel="stylesheet" href="styles/nav.css" />
        <link rel="stylesheet" href="styles/home.css" />
        <link rel="stylesheet" href="styles/all.css" />
    </head>
    <body
        onload="document.querySelector('#flower_div').classList.add('appear_home_page');"
    >
        <%- include("partials/nav.ejs") %>
        <div id="flower_div">
            <div id="info_web">
                <h1>Welcome</h1>
                <h2>Project  : Basic</h2>
                <h2>User : <%= user %></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Accusantium, assumenda asperiores? Dicta voluptatum nemo
                    odit libero minima error ducimus ut labore, a nisi nesciunt
                    itaque hic numquam natus, veritatis ratione.
                </p>
            </div>
        </div>

        <script src="scripts/script.js"></script>
        <script src="scripts/home.js"></script>
    </body>
</html>
