<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles/nav.css" />
        <link rel="stylesheet" href="styles/store.css" />
           <link rel="stylesheet" href="styles/all.css" />
    </head>
    <body>
        <%- include("partials/nav.ejs") %>

        <script src="scripts/script.js"></script>
    </body>
    <div id="container">
        <div  class="items" id="item1" style="grid-area: item1;"></div>
        <div class="items" id="item2" style="grid-area: item2;"></div>
        <div class="items" id="item3" style="grid-area: item3;"></div>
    </div>
</html>
