:root {
    --shadow_image: 12px 12px 12px 10px rgba(2, 0, 0, 0.2);
    --welcome_color: linear-gradient(
        to right,
        rgb(61, 61, 52),
        rgba(29, 29, 26, 0.9),
        rgba(27, 27, 24, 0.9)
    );
    --p_color: linear-gradient(
        to right,
        rgb(3, 3, 2),
        rgba(32, 32, 13, 0.9),
        rgba(27, 27, 24, 0.9)
    );
    --navbar_mobile: rgba(170, 164, 164, 0.9);
    --welcome_color_hover: linear-gradient(
        to right,
        rgb(119, 119, 121),
        rgb(163, 163, 168)
    );
}

#info_web {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: start;
    align-items: start;
    top: 5rem;
}
#info_web > h1 {
    background-image: var(--welcome_color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-family: serif;
    font-weight: bolder;
    position: relative;
    left: -5px;
}
#info_web > h2 {
    background-image: var(--welcome_color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-family: serif;
    font-weight: bolder;
}
#info_web > p {
    background-image: var(--p_color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
}

#image_flower {
    aspect-ratio: 3/5;
    width: max(15rem, 20%);
    border-radius: 20px;
    box-shadow: var(--shadow_image);
    z-index: -2;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#flower_div {
    position: relative;

    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 30rem;
    z-index: -2;
    opacity: 0;
}


@media (max-width: 720px) {
    body{
        padding: 0;
        margin: 0;
    }
    nav {
        display: inline-flex;
        z-index: 1;
        background-color: var(--navbar_mobile);
        position: fixed;
    }
    #flower_div {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        border:0;
        height: 40rem;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
    #image_flower {


    z-index:0 ;
    position: relative;
    right: unset;
    top: unset;
    }

    #info_web > h1 {
        font-size: 3rem;
        font-family: 'Courier New', Courier, monospace;
           position: unset;
    left: unset  ;
    }

    #info_web > p {
        display: none;
    }
    
#info_web {
        font-family: 'Courier New', Courier, monospace;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: start;
    align-items: center;
    top: unset;
    position: unset;
}



}

.appear_home_page {
    animation: 2s appear_home_page forwards;
}
@keyframes appear_home_page {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
