:root {
    --box_shadow_1: 1px 1px 1px 1px rgba(41, 39, 39, 0.3);
    --summary_1: rgb(207, 207, 207);
    --box_shadow_2: 1px 0px 14px 1px rgba(41, 39, 39, 0.1);
    --summary_2: rgb(175, 174, 174);
}
body {
    opacity: 1;
    
}

#info_div {
    /* border: 1px solid; */
    position: relative;
    padding: 1rem 0rem;
    height: 30rem;
    top: 2rem;
    opacity: 0;
}
#info_div > details {
    /* border: 1px solid #ff0000; */
    list-style: none;
    width: 100%;
    position: relative;
    top: 0rem;
    height: 100%;
}

#details_top {
    height: 10rem;
    display: flex;
    flex-direction: column;
}

#info_div > details > summary {
    /* border: 1px solid; */
    list-style: none;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    box-shadow: var(--box_shadow_1);
    border-radius: 0.4rem;
    background-color: var(--summary_1);
    margin: 0rem 1rem;
}
#info_div > details > #info_list {
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-top: 1rem;
    position: relative;
    opacity: 1;
    transition: 1s transform ease;
    transform: translateY(0px);
    z-index: -2;
    box-shadow: var(--box_shadow_2);
    border: 1px solid rgb(216, 193, 193);
    border-radius: 0.2rem;
    background-color: var(--summary_2);
    margin: 0rem 1.5rem;
    margin-top: 0.1rem;
    height: 20rem;
}

.appear_info {
    animation: appear_info 1s forwards;
}

@keyframes appear_info {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.disappear_info {
    animation: disappear_info 1.3s forwards;
}

@keyframes disappear_info {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-40px);
        opacity: 0;
    }
}

#info_list > img {
    position: relative;
    aspect-ratio: 1/1;
    width: 10rem;
    border-radius: 20rem;
    height: 10rem;
    box-shadow: var(--box_shadow_2);
    border: 2px solid rgb(114, 89, 89);
    align-self: flex-start;
    top: 2rem;
}
#info_names_col {
    display: grid;
}
#info_names_col > h5 {
    border-bottom: 2px solid;
    padding: 0;
    height: max-content;
    width: max-content;
}

@media (max-width: 720px) {
    #info_list > img {
        width: 7rem;
        height: 7rem;
    }
}

.appear_profile_page {
    animation: 2s appear_profile_page forwards;
}
@keyframes appear_profile_page {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
